.header-container{
    width: 427px;
    height: 80px;
   h1{
 font-size: 40px;
 line-height: 48px;
 font-family: Barlow;
 color: #212529;
 font-weight: 500;
}   

p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: Barlow;
    color: #495057;
}

}
.search-filter-wrapper{
    .input-container {
        
        display: flex;
        align-items: center;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
      }
      
      .input {
        width: 382px;
        height: 38px;
        border-radius: 4px 0px 0px 4px;
        border: 1px solid #CED4DA;
        cursor: pointer;
        padding: 7px 13px 7px 13px;
        font-size: 0.9em;
        caret-color: rgb(255, 81, 0);
      }
      
      .input::placeholder{
        color: #6C757D;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
      }
      
      input:focus-visible{
        // border:1px solid #0D6EFD !important;
        outline: none;
        border: 2px solid #4A9DEC;
        box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
      }
      
      .labelforsearch {
        width: 42px;
        height: 38px;
        background-color: #0D6EFD;
        cursor: text;
        padding: 7px 13px;
        border-radius: 0 4px 4px 0; 
      }
      
      .searchIcon {
        color: #FFFFFF;
      }
      
      .searchIcon path {
        fill: #FFFFFF;
      }   
        
} 
   
      